@model BlexDigital.Models.Proyecto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>


@Html.HiddenFor(model => model.ProyectoId)
<div>
    <h4>Proyecto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreProyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreProyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<div>
    <h4>Cotizacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <h2>DATOS DE LA SOLICITUD</h2>
        <dt>
            @Html.DisplayNameFor(model => model.Cotizacion.SolCotizacion.Cliente.Dni)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Cotizacion.SolCotizacion.Cliente.Nombre)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Cotizacion.SolCotizacion.Cliente.Email)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Cotizacion.SolCotizacion.Cliente.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cotizacion.SolCotizacion.NombreEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cotizacion.SolCotizacion.DescripcionDelNegocio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cotizacion.SolCotizacion.DescripcionDelNegocio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cotizacion.SolCotizacion.Mision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cotizacion.SolCotizacion.Mision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cotizacion.SolCotizacion.Vision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cotizacion.SolCotizacion.Vision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cotizacion.SolCotizacion.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cotizacion.SolCotizacion.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cotizacion.SolCotizacion.CorreoDeEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cotizacion.SolCotizacion.CorreoDeEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cotizacion.SolCotizacion.TelefonoDeEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cotizacion.SolCotizacion.TelefonoDeEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cotizacion.SolCotizacion.NumeroPaginas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cotizacion.SolCotizacion.NumeroPaginas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cotizacion.SolCotizacion.PaginaConCatalogo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cotizacion.SolCotizacion.PaginaConCatalogo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cotizacion.SolCotizacion.CarritoDeCompras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cotizacion.SolCotizacion.CarritoDeCompras)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cotizacion.SolCotizacion.TipoWeb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cotizacion.SolCotizacion.TipoWeb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cotizacion.SolCotizacion.DetallesAdicionales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cotizacion.SolCotizacion.DetallesAdicionales)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <h2>DATOS DE LA COTIZACIÓN</h2>
        <dt>
            @Html.DisplayNameFor(model => model.Cotizacion.Mensaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cotizacion.Mensaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cotizacion.Dias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cotizacion.Dias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cotizacion.PrecioTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cotizacion.PrecioTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cotizacion.FechaCotizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cotizacion.FechaCotizacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProyectoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
