@model IEnumerable<BlexDigital.Models.Proyecto>

@{
    ViewBag.Title = "Proyectos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Proyectos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Acciones</th>
        @*<th>
            @Html.DisplayNameFor(model => model.Cotizacion.SolCotizacion.SolCotizacionId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ProyectoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreProyecto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProyectoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProyectoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProyectoId })
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Cotizacion.SolCotizacion.SolCotizacionId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ProyectoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreProyecto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
    </tr>
}

</table>
