@model Sistema_de_gestion_comercial_Blex_Digital.Models.Cotizacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cotizacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mensaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mensaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioTotal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CotizacionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
