@model IEnumerable<Sistema_de_gestion_comercial_Blex_Digital.Models.SolCotizacion>

@{
    ViewBag.Title = "ValidarAdelantos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Validar Adelantos</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>Acciones</th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorreoDeEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonoDeEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroPaginas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaginaConCatalogo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarritoDeCompras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaSolicitud)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Validar", "ValidarAdelanto", new { solCotizacionId = item.SolCotizacionId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorreoDeEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonoDeEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroPaginas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaginaConCatalogo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarritoDeCompras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaSolicitud)
        </td>
    </tr>
}

</table>
