@model IEnumerable<Sistema_de_gestion_comercial_Blex_Digital.Models.SolCotizacion>

@{
    ViewBag.Title = "Solicitudes de cotización";
}

<h2>Solicitudes de cotización</h2>

<p>
    @Html.ActionLink("Nueva Solicitud", "Create")
</p>
<table class="table">
    <tr>
        <th>Acciones</th>
        <th>
            Estado
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorreoDeEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonoDeEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroPaginas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaginaConCatalogo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarritoDeCompras)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.Estado == "Pendiente")
            {
                @Html.ActionLink("Cotizar", "Cotizar", new { id = item.SolCotizacionId })
            }
            else
            {
                @Html.ActionLink("Detalles", "Details", new { id = item.SolCotizacionId })
            }
            @*@Html.ActionLink("Editar", "Edit", new { id=item.SolCotizacionId }) |*@
            
            @*@Html.ActionLink("Eliminar", "Delete", new { id = item.SolCotizacionId })*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorreoDeEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonoDeEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroPaginas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaginaConCatalogo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarritoDeCompras)
        </td>
    </tr>
}

</table>
